@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --spotify-green: #1db954;
    --spotify-dark: #111213;
    --spotify-light-dark: #333333;
    --spotify-gray: #c5c3c3;
  }
}

@layer base {
  body {
    @apply bg-dark text-white;
  }
}
